<h1>Submit Your Records</h1>

<h2>Survey form</h2>

<p>
The essential bits of information will be list in the document, included: </br>
</br>
   • Species name</br>
   • Location name</br>
   • UK national grid reference (ideally 6 figure and taken from a GPS)</br>
   • Date</br>
   • Recorder’s name</br>
   • Any other details such as whether it was a female, an egg, if it was flying
or feeding, how many there were, was it flowering, was it a juvenile, etc.</br>
</br>
Please make sure that these essential bits of information are filled and send to us.
</p>

<%= render 'form' %>

<%= link_to 'Back', records_path %>
