<h1>Help and Advice</h1>

<p>
We offer a range of help and support to people who are interested in supplying wildlife records to us. This ranges from answering queries on the phone or by email, to organising a range of courses and events to help people better understand how data can be recorded and collated and how the information might be used. 
</p>

<p>
There are explaination and links of the feature in the following. </br>
</br>
• <a href="../news">New</a></br>
Wildlife event in the Surrey. You can gain the knowledge at here.</br>
</br>
• <a href="../enquiry">Enquiry service</a></br>
Data searching, the staffs of SBIC will answer all the questions from you.</br>
</br>
• <a href="../records/new">Submit</a></br>
Want to be a volunteer? The species recorder is here, you can record the informaton and submit to our data base. 


